.app-footer {
	position: relative;
	bottom: 0;
	margin-top: 10px;
	text-align: center;
	@include flex;
	gap: 5;
	margin-bottom: 40px;
	@include center;
	
	h3 {
		color: $my-blue;
		font-family: cursive;
		margin-bottom: 30px;
	}
}
